<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8"/>
	<title>Tomasz Łakomy</title>
	<mete name='description' content="Tomasz Łakomy"/>
	<meta name='keywords' content='me, Tomasz, tomaszlakomy, tomasz, lakomy'/>
	<meta http-equiv="X-UA-Compatible" contet="IE=edge,chrome=1">
	<link rel="stylesheet" href="{{url_for('static',filename='css/tl.css')}}">
</head>
<body>
<div id="container">
	
	<div id="header">
		<h1><b>Tomasz Łakomy 1E</b></h1>
	</div>
	
	<div id="three">
		<div id="img">
			<img src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/18222267_828012894017839_325494637147151572_n.jpg?oh=34debbb702abf968340e7aefdc8e6beb&oe=5B1BCB1F" width="100%" style="border: dashed; border-color: white">
			<img src="/static/zsk.png" width="28%" style=" margin-top: -50%;">
		</div>
	
		<div id="menu">
			<h3>PODSTRONY</h3>
			<br />
			<a href="about.html" style="text-decoration: none;"><i>O mnie</i></a> <br />
			<a href="zainteresowania.html" style="text-decoration: none;"><i>Zainteresowania</i></a> <br />
			<a href="https://www.zsk.poznan.pl" target="_blank" style="text-decoration: none;"><i>Moja szkoła</i></a> <br />
		</div>
		
		<div id="srcs">
			<h3>ŹRÓDŁA</h3>
			<b><ol>
				<li><a href="https://www.facebook.com" target="_blank" style="text-decoration: none;">FACEBOOK</a></li>
				<li><a href="https://drive.google.com/drive/folders/1G9hJlurLPN6Ka9YK7VUbxV_boPrH4GfK" style="text-decoration: none;" target="_blank">szkola.koon.pl</a></li>
			</ol></b>
		</div>
	</div>

</div>
</body>
</html>