<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8"/>
	<title>Tomasz Łakomy - zainteresowania</title>
	<mete name='description' content="Tomasz Łakomy"/>
	<meta name='keywords' content='me, Tomasz, tomaszlakomy, tomasz, lakomy'/>
	<meta http-equiv="X-UA-Compatible" contet="IE=edge,chrome=1">
	<link rel="stylesheet" href="{{url_for('static',filename='css/tl.css')}}">
</head>
<body>
<div id="container">
	
	<div id="header">
		<h1><b><a href="/tomaszlakomy/" style="text-decoration: none; color: white;">Tomasz Łakomy 1E</b></h1>
	</div>
	
	<div id="three">
		<div id="img">
			<img src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/18222267_828012894017839_325494637147151572_n.jpg?oh=34debbb702abf968340e7aefdc8e6beb&oe=5B1BCB1F" width="100%" style="border: dashed; border-color: white"></a>
			<img src="/static/zsk.png" width="28%" style=" margin-top: -50%;">
		</div>
		<div id="content" style="font-size: 170%">
			<h2 style="font-size: 100%">ZAINTERESOWANIA</h2>
			<li>Kino</li>
			<li>Tworzenie filmów</li>
			<li>Fotografia</li>
			<li>Muzyka</li>
			<li>Gry komputerowe</li>
			<li>Psychologia</li>
		</div>