<html>


<head>

<title>Wielcy pianiści</title>
<link rel="stylesheet" href={{url_for('static',filename='adamk/styl.css')}} type="text/css" />
<link rel="shortcut icon" href={{url_for('static',filename='adamk/favicon.ico')}} type="image/x-icon" />

</head>


<body>

<header><p><strong>Wielcy pianiści
</strong></p></header>

<section><article><p>
<font size = 5> 

<table style="width=100%">
<tr>
<th>Wolfgang Amadeus Mozart</th>
<th>Fryderyk Chopin</th>
<th>Ludvig van Beethoven</th>
</tr>
<th><img src={{url_for('static',filename='adamk/Mozart.jpg')}} style="width:270px;height:270px;"></th>
<th><img src={{url_for('static',filename='adamk/Chopin.jpg')}} style="width:270px;height:270px;"></th>
<th><img src={{url_for('static',filename='adamk/Beethoven.jpg')}} style="width:270px;height:270px;"></th>
</tr>
</table>
</font>
</p></article></section>

<aside><p>
MENU
<br><a href="/../adamkorba/">Strona Główna</a>
<br><a href="Historia.html">Historia pianina</a>
<br>>Wielcy pianiści<
<br><a href="Rodzaje.html">Rodzaje pianin</a>
</p></aside>

<footer><p>Źródło: <a href = "https://www.google.pl/imghp?hl=pl&tab=wi">Google Grafiki</a>
</footer></p>

</body>


</html>