<html>


<head>

<title>Rodzaje Pianin</title>
<link rel="stylesheet" href={{url_for('static',filename='adamk/styl.css')}} type="text/css" />
<link rel="shortcut icon" href={{url_for('static',filename='adamk/favicon.ico')}} type="image/x-icon" />

</head>


<body>

<header><p><strong>Rodzaje pianin
</strong></p></header>

<section><article><p>
<font size = 10> 

<table style="width=100%">
<tr>
<th>Spinet Piano</th>
<th>Console Piano</th>
<th>Studio Piano</th>
<th>Upright Piano</th>
</tr>
<th><img src={{url_for('static',filename='adamk/Spinet.jpg')}} style="width:220px;height:220px;"></th>
<th><img src={{url_for('static',filename='adamk/Console.jpg')}} style="width:220px;height:220px;"></th>
<th><img src={{url_for('static',filename='adamk/Studio.jpg')}} style="width:220px;height:220px;"></th>
<th><img src={{url_for('static',filename='adamk/Upright.jpg')}} style="width:220px;height:220px;"></th>
</tr>
</table>
</font>
</p></article></section>

<aside><p>
MENU
<br><a href="/../adamkorba/">Strona Główna</a>
<br><a href="Historia.html">Historia pianina</a>
<br><a href="Pianisci.html">Wielcy pianiści</a>
<br>>Rodzaje pianin<
</p></aside>

<footer><p>Źródło: <a href = "http://www.pianotea.com/kategorie-podzialu-pianin-i-fortepianow/">http://www.pianotea.com/kategorie-podzialu-pianin-i-fortepianow/</a>
</footer></p>

</body>


</html>
