<html>


<head>

<title>Adam Korba 1E</title>
<link rel="stylesheet" href={{url_for('static',filename='adamk/styl.css')}} type="text/css" />
<link rel="shortcut icon" href={{url_for('static',filename='adamk/favicon.ico')}} type="image/x-icon" />

</head>


<body>

<header><p><strong> Adam Korba, uczeń klasy 1E Technikum Komunikacji 
</strong></p></header>

<section><article><p><img src={{url_for('static',filename='adamk/Adam.jpg')}} style =width:100px;height:100px;">
<br>Informacje o mnie 
<ul>
<li>Mam 16 lat w marcu kończę 17</li> 
<li>Mieszkam w Poznaniu</li>
<li>Mam 2 siostry</li>
<li>Programowanie to moje hobby</li>
<li>Lubię muzykę a mój ulubiony instrument to pianino, któremu poświęcona jest ta strona.
</ul>
<br><a href="https://www.facebook.com/adam.korba.98"><img src={{url_for('static',filename='adamk/Facebook.jpg')}} style="width:50px;height:50px;"></a>
</p></article></section>

<aside><p>
MENU
<br>>Strona główna<
<br><a href="Historia.html">Historia Pianina</a>
<br><a href="Pianisci.html">Sławni pianiści</a>
<br><a href="Rodzaje.html" >Rodzaje pianin</a>

</p></aside>

<footer><p>Ta strona została utworzona jako projekt na lekcje informatyki
</footer></p>

</body>


</html>