<!DOCTYPE html>
<html>
<head>
	<title>Filip Wachowiak</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta charset="utf-8">
  	<link rel="stylesheet" href="{{url_for('static',filename='css/ourstyles.css')}}">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<script>
$(document).ready(function(){
  $("#people").click(function() {
      $('html, body').animate({
        scrollTop: $(".scrollTo").offset().top
      }, 800,);
      });
    });
</script>
</head>
<body>
	<nav class="navbar">
		<a href="/filipwachowiak/">
      		<img style="max-height:85px;" src="{{url_for('static', filename='bootstrap.jpg')}}">
    	</a>
    	<button id="people" class="btn btn-danger" style="white-space:normal;margin-top:5px;">Poznaj fajnych ludzi. Serio ja Ciebie nie podpuszczem. Kliknij tutaj. Tu są kochane osóbki</button>
	<div align="right">
    		<a href="/"><button class="btn btn-primary" style=" margin-top:5px;right:5px;">Bardzo dobra strona</button></a>
    		<a href="/contact/"><button class="btn btn-primary" style="white-space:normal; margin-top:5px;right:5px;">Chcesz pisać artykuły o IT? Wyślij zgłoszenie</button></a>
    	</div>
	</nav>
	<div align="center" style="position: sticky; position: -webkit-sticky; top: 0; background-color: white;">
		<h4>Kim jestem?</h4>
		<span>Nazywam się Filip Wachowiak</span>
		<a href="https://www.youtube.com/channel/UCLX0Pd6_hQk9juOOtSOdaGg"><span>(więcej o mnie)</span></a>
	</div>
	<div style="width: 80%; margin:auto;">
		<div style="height: 50px; text-align: center; margin-bottom: 5px" id="section">
    	    	<h5 style="vertical-align: middle; line-height: 50px;">Coś tam o mnie</h5>
      		</div>
	<ul>
		<li>Mam 17 lat</li>
		<li>Mam zamiar iść na studia zaoczne</li>
		<li>Gram na gitarze</li>
		<li>Organizuję wycieczkę do Wrocławia</li>
		<li>Wybieram się na 18 MFF "Nowe Horyzonty"</li>
		<li>Byłem na 17 MFF "Nowe Horyzonty"</li>
		<li>Lubię dramaty</li>
		<li>Kocham "La la land"</li>
		<li>Za dużo robię</li>
		<li>Znam ludzi pracujących więcej</li>
		<li>Jestem raczej samotnikiem...</li>
		<li>...póki co</li>
		<li>Chciałbym umieć mówić po włosku...</li>
		<li>...i hiszpańsku</li>
		<li>Kocham muzykę</li>
		<li>I film jakby ktoś jeszcze nie zauważył</li>
		<li>Umiem zrobić aplikację na Androida</li>
		<li>W miarę ogarniam<ol>
			<li>HTML'a</li>
			<li>CSS'a</li>
			<li>JS'a</li>
			<li>Kiedyś jeszcze coś z Jquery</li>
			<li>No i jeszcze Bootstrap</li>
		</ol></li>
		<li>Python is my love</li>
		<li>Mam Arduino ale nie mam na to na razie czasu</li>
		<li>Rock &lt;3</li>
		<li>Jakieś smutniejsze nuty też</li>
		<li>Brałem udział w Daj Się Poznać</li>
		<li>Matematyka to coś takiego co jest niesamowite ale jednak nigdy nie znajdę czasu żeby się nią prawdziwie zająć</li>
		<li>Jazz jeszcze</li>
		<li>Fotografować też lubię</li>
		<li>Uchwycać chwile</li>
		<li>Więc też kręcić filmy</li>
		<li>Chcę zwiedzić świat po studiach, JAK JESTEŚ CHĘTNY I TO CZYTASZ TO SIĘ ZE MNĄ SKONTAKTUJ!!!!</li>
		<li>Pierwsza przygoda z programowaniem w podstawówce i sławna stronka cpp0x</li>
		<li>Tu nic nie ma</li>
		<li>tutaj też</li>
		<li>Chciałem laureata z matmy w gimnazjum</li>
		<li>Ale na powyższe jestem za głupi więc mam tylko laureata z fizyki :/</li>
		<li>Trochę interesuje mnie też psychologia i ekonomia</li>
		<li>Nie kręci mnie alkohol</li>
		<li>Ani palenie</li>
		<li>#CieślaTeam</li>
		<li>Lubię mieć wszystko zaplanowane</li>
		<li>Lubię zmiany</li>
		<li>Ukochane zespoły (kolejność losowa)
			<ol>
				<li>Citizen Zero</li>
				<li>Klaustrofobia</li>
				<li>Sonbird</li>
				<li>Red Hot Chili Peppers</li>
				<li>Linkin Park</li>
				<li>Bastille</li>
				<li>Arctic Monkeys</li>
				<li>i na pewno wiele wiele innych</li>
			</ol></li>
		<li>Jestem w trakcie oglądania
			<ol>
				<li>Mr. Robot</li>
				<li>Twin Peaks</li>
				<li>House of Cards</li>
			</ol></li>
		<li>Korzystam z Windowsa 10...</li>
		<li>...ale w sumie tylko ze względu na gry</li>
	      	<div style="height: 50px; text-align: center; margin-bottom: 5px; display: block;" class="scrollTo" id="section">
    	    	<h5 style="vertical-align: middle; line-height: 50px;">Moi ukochani</h5>
      		</div>
		<li>Bruno mówi, że Debian to syf i pornografia (funboy Ubuntu TFU)</li>
		<li>Kostek zna Reddita najlepiej spośród naszej 30-tki, nawet nie próbuj zaprzeczać</li>
		<li>Patryk jest tak samo świrnięty jak ja...</li>
		<li>...no może trochę bardziej (tak, myślę o altozaurze i kumplach)</li>
		<li>Aaaa, i Patryk założył Rzym na środku pustyni. Poza tym #CieślaTeam</li>
		<li>Agnieszka - mądra, ale trzeba ją zająć czymś produktywnym</li>
		<li>Tomek jest adminem serwera Minecraft więc wiadomo, pół klasy mu podlega</li>
		<li>Igor ma personalne cheaty we wszystkich piłkach od koszykówki</li>
		<li>Amna przeżyła poprzednie życie pod wodą bo wie co słychać u ryb. Tylko jakie wodne stworzenie potrafi tak rysować?</li>
		<li>Daniel jego pies wcale nie ma ochoty zjeść jego królika</li>
		<li>Mikołaj, kurcze no przyznajcie. Jak się na niego patrzy to pierwsza myśl to Kacper</li>
		<li>Axel あなたがそれを理解していると話さないでください (ale tak serio to powiedz)</li>
		<li>Rysiu wie jak powiedzieć Anglikowi, że jest czymś poruszony</li>
		<li>Adam?</li>
		<li>Adama znowu nie ma</li>
		<li>A Adam?</li>
		<li>Adam to tak na prawdę Piotr Piotrowski, biotechnolog w dodatku</li>
		<li>Nie ma Cię, no cóż...pracuj więcej</li>
		</ul>
		</div>
		<div style="text-align: center; margin-bottom: 5px" id="section">
    	    	<h5 style="vertical-align: middle; line-height: 50px;">Mam zamiar kiedyś coś tu jeszcze dopisać, może zmienić</h5>
      		</div>
</body>
</html>
